<main class="wrapper">
    <header>
        <nav id="nav-bar">
            <a class="navbar-brand" href="index.html">ICON</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <div class="nav-list">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-cog"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-briefcase"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-address-book"></i></a>
                    </li>
                </ul>
                <!-- Socials -->
                <ul class="nav flex-column mt-5 ">
                    <li class="nav-item ">
                        <a class="nav-link " href="# "><i class="fab fa-linkedin-in "></i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="# "><i class="fab fa-gitlab "></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="section parallax bg1">
        <h1>Such Adorableness</h1>
    </section>
    <section class="section static">
        <h1>Boring</h1>
    </section>
    <section class="section parallax bg2">
        <h1>SO FWUFFY AWWW</h1>
    </section>
    <section class="section static">
        <h1>Boring</h1>
    </section>
    <section class="section parallax bg1">
        <h1>SO FWUFFY AWWW</h1>
    </section>
    <section class="section static">
        <h1>Boring</h1>
    </section>
    <section class="section parallax bg2">
        <h1>SO FWUFFY AWWW</h1>
    </section>
    <section class="section static">
        <h1>Boring</h1>
    </section>
    <section class="section parallax bg1">
        <h1>SO FWUFFY AWWW</h1>
    </section>
    <section class="section parallax bg2">
        <h1>SO FWUFFY AWWW</h1>
    </section>
</main>