section.about-me,
section.my-works {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
}

.nav li::before {
    position: absolute;
    left: 18px;
    bottom: 0;
    width: 2px;
    height: 100%;
    content: "";
    top: 0;
    background: $iconColor;
}

.tab-content {
    background: #333;
    padding: 30px 30px 30px 100px;
    border-radius: 5px;
    height: 500px;
    .tab-pane {
        transition: all 0.4s ease;
        width: 100%;
        .about-text {
            h2.tab-title {
                position: relative;
                display: inline-block;
                padding-bottom: 15px;
                margin-bottom: 15px;
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;
                &:before {
                    position: absolute;
                    bottom: -1px;
                    content: "";
                    left: 0%;
                    width: 70%;
                    height: 2px;
                    border-radius: 100%;
                    background: $iconColor;
                }
            }
            div.content p {
                margin-bottom: 20px;
                font-weight: 300;
                color: #eee;
            }
        }
        .skill {
            margin-top: 15px;
            margin-left: 15px;
            .skill-info {
                overflow: hidden;
                h4 {
                    float: left;
                    font-size: 14px;
                    margin-bottom: 12px;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    position: relative;
                    right: 50px;
                }
            }
            .progress {
                height: 8px;
                border-radius: 0px;
                box-shadow: none;
                overflow: visible;
                .progress-bar {
                    position: relative;
                    background: $iconColor;
                    overflow: visible;
                    span {
                        font-size: 16px;
                        right: 0;
                        color: #fff;
                        position: absolute;
                        top: -17px;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        border-radius: 100%;
                        background: #fff;
                        font-size: 13px;
                        font-weight: 400;
                        background: $iconColor;
                    }
                }
            }
        }
    }
}

.tabs-main {
    position: absolute;
    top: 100px;
    z-index: 3;
    border-radius: 10px;
    margin-top: -45px;
    .nav {
        position: absolute;
        top: 34px;
        left: 30px;
        display: block;
        list-style: none;
        li {
            float: none;
            margin: 0;
            padding-bottom: 50px;
            position: relative;
            &:before {
                position: absolute;
                left: 18px;
                bottom: 0;
                width: 2px;
                height: 100%;
                content: "";
                top: 0;
                // background: $iconColor;
            }
            &:hover .tooltips {
                opacity: 1;
                visibility: visible;
            }
            .tooltips {
                position: absolute;
                width: 86px;
                top: -30px;
                color: #fff;
                text-align: center;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
                font-size: 12px;
                text-transform: uppercase;
                left: -16px;
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                background: $iconColor;
                margin-left: 10px;
            }
            a {
                border: 0px;
                border-radius: 100%;
                margin: 0;
                width: 40px;
                background: #fff;
                color: #353535;
                height: 40px;
                line-height: 40px;
                text-align: center;
                padding: 0;
                display: block;
                position: relative;
                &:hover {
                    color: #fff;
                    background: $iconColor;
                }
            }
            .nav-link.active {
                background: $iconColor;
            }
        }
    }
}

.social {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    ul li {
        display: inline-block;
        margin-right: 5px;
        a {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background: #fff;
            color: #353535;
            display: block;
            border-radius: 100%;
            text-align: center;
            &:hover {
                color: #fff;
                background: $iconColor;
            }
        }
    }
}

.nav-tabs .timeline-inner {
    position: relative;
    padding: 20px 0;
}

img.img-abt {
    transition: transform .2s;
    margin: 0 auto;
    &:hover {
        opacity: 0.6;
        transition: 0.3s;
    }
}