    /* ==========================
    Contact Me
==========================*/
    
    #contact.section {
        position: relative;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    #contact {
        .form {
            margin-top: 30px;
            background: #fff;
            padding: 15px;
            -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            height: 355px;
        }
        .form-group {
            position: relative;
            display: block;
            margin: 0 0 25px;
            input {
                width: 100%;
                height: 50px;
                border: 1px solid #ddd;
                padding-left: 10px;
                border-radius: 5px;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
                font-weight: 400;
            }
        }
        .contact {
            margin-top: 30px;
            background: #fff;
            -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
            padding: 20px;
            height: 355px;
            .address {
                position: relative;
                margin-bottom: 34px;
                i {
                    // background: #F2784B;
                    position: absolute;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    // border: 1px solid #ddd;
                    text-align: center;
                    font-size: 20px;
                    top: 50%;
                    margin-top: -20px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    color: $iconColor;
                    .title {
                        margin-left: 60px;
                    }
                    &:hover {
                        color: #fff;
                        border-color: transparent;
                    }
                }
                p {
                    color: #555;
                    margin-left: 50px;
                }
            }
        }
    }
    
    .message {
        border: 1px solid #ddd;
        width: 100%;
        border-radius: 5px;
        padding-left: 10px;
        resize: none;
        height: 120px;
    }
    
    button i.fas {
        color: $iconColor;
        &:hover {
            color: #fff;
        }
    }