    /* Footer */
    
    #footer {
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        .page-footer-copy {
            background-color: #1E282D;
            color: white;
            .gotop {
                width: 70px;
                height: 50px;
                font-size: 25px;
            }
            .img-lovely {
                height: 50px;
                width: auto;
            }
        }
        a.go-top {
            border: 0px;
            border-radius: 100%;
            margin: 0;
            width: 40px;
            background: #fff;
            color: #353535;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0;
            display: block;
            position: relative;
            bottom: 20px;
            margin: auto;
            &:hover {
                color: #fff;
                background: $iconColor;
            }
        }
    }