.section-video {
    position: relative;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    .greet {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 25px;
        font-family: inherit;
    }
    div.landing {
        position: absolute;
        bottom: 20px;
        a.btn-subs {
            border: 2px solid #EC817A;
            border-color: #EC817A;
            color: #fff;
            font-size: 14px;
            margin-right: 5px;
            padding: 9px;
            overflow: hidden;
            display: inline-block;
            color: #fff;
            border-radius: 5px;
            font-weight: 400;
            cursor: pointer;
            &:hover {
                background-color: $btnHoverColor;
                color: white;
            }
            i {
                color: white;
                &:hover {
                    color: #EC817A;
                    background-color: #EC817A;
                }
            }
        }
    }
}