section#my-works {
    background-color: #f5f5f5;
    .img-container {
        position: relative;
        // margin: 0 auto;
        margin: 50px;
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #EC817A; // #EC817A #F2AA4CFF; 
        opacity: 65%;
        overflow: hidden;
        width: 50%;
        height: 100%;
        transition: .5s ease;
        text-align: center;
        .overlay-title {
            font-size: 1rem;
        }
        .img-overlay {
            font-size: 9px;
        }
        .overlay-btn {
            width: 80px;
            height: 80px;
            display: inline-block;
            font-weight: 400;
            // color: #212529;
            color: $btn_color;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    }
    .img-container:hover .overlay {
        width: 100%;
    }
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
}