nav.navbar {
    opacity: 80%;
    z-index: 9999999;
    >button.navbar-toggler {
        border: 2px solid;
    }
    #navbarSupportedContent>ul.navbar-nav {
        text-align: center;
        >li {
            position: relative;
            background-repeat: no repeat;
            font-weight: bolder;
            font-size: 0.8rem 1.5em;
            // line-height: 1;
            // color: blue;
            // padding-left: 20px;
            font-family: "Sigmar One", cursive !important;
            letter-spacing: 1;
            a {
                // text-align: right;
                font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                color: black;
                font-size: 1.2em;
                text-decoration: none;
                padding: .8em;
                display: block;
                &:hover {
                    background-color: #EC817A;
                    color: white;
                }
            }
        }
    }
}

.navbar-default {
    transition: 500ms ease;
    background: transparent;
}

.navbar-default.scrolled {
    background: rgba(0, 0, 0, 0.9);
    li a {
        color: #ccc!important;
    }
}