* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    /* font-style: inherit;
    font-variant: normal;
    font-weight: lighter; */
}

#nav-bar {
    background: #434442;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    opacity: 74%;
}

.nav-list {
    position: absolute;
    justify-content: center;
    top: 150px;
}

.nav-list ul.nav li.nav-item>a.nav-link {
    width: 60px;
}

.nav-list ul.nav li.nav-item>a.nav-link [class^=fa] {
    margin: auto;
    padding: 0 5px;
    line-height: 1;
}

.nav-list ul.nav ul.nav:first-child li.nav-item:first-child>a.nav-link>a {
    color: #0090B2;
}


/* .nav-list ul.nav ul.nav:first-child li.nav-item:first-child>a.nav-link>a:hover {
    color: #FF7A00;
} */

.nav-list ul.nav ul.nav:first-child li.nav-item:first-child>a.nav-link>a:active {
    color: #B25500;
}

.nav-list ul.nav ul.nav:last-child {
    border-top: 1px solid gray;
}

h1 {
    position: absolute;
    font-size: 4.5rem;
}

h2 {
    position: absolute;
    bottom: 210px;
    font-size: 1.8Rem;
}

.section-video {
    position: relative;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
}

.section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;
    /* For text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
}


/* The styling for the static div. */

.static {
    background: white;
}


/* Sets the actual background images to adorable kitties. This part is crucial. */

.bg1::after {
    background-image: url('../images/student-849821_1920.jpg');
}

.bg2::after {
    background-image: url('../images/2020-02-02.jpeg');
    /* background-size: cover; */
    filter: grayscale(1)
}

.bg2::after {
    background-image: url('../images/notebook-1280538_1280.jpg');
    /* background-size: cover; */
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}


/* Animation */

h1.typewriter {
    width: auto;
    position: absolue;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2f2f2f;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 5s steps(20, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 50%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #2f2f2f;
    }
}

section.section-video>video {
    opacity: 90%;
}


/*# sourceMappingURL=style.css.map */

section.about-me {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


/* Footer */

footer {
    font-size: 0.7rem;
}

footer .page-footer-socials {
    margin-top: 20px;
    background-color: #263438;
    color: white;
}

footer .page-footer-copy {
    background-color: #1E282D;
    color: white;
}

footer .btn-socials {
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #05C46B;
    width: 40px;
    height: 40px;
}

footer .btn-socials>i {
    font-size: 1.25rem;
    line-height: 35px;
}

footer .gotop {
    width: 70px;
    height: 50px;
    font-size: 25px;
}

footer>a>i {
    font-size: 2.5rem;
    line-height: 50px;
    padding: 5px;
}

footer h6.mt-5 {
    font-size: 12px;
}

.img-lovely {
    height: 50px;
    width: auto;
}