    @import './variables.scss';
    @import './navbar.scss';
    @import './landing-section.scss';
    @import './buttons.scss';
    @import './about.scss';
    @import './myWorks.scss';
    @import './contact.scss';
    @import './parallax.scss';
    @import './footer.scss';
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Poppins', sans-serif; */
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        /* font-style: inherit;
font-variant: normal;
font-weight: lighter; */
        /* line-height: 1.2; */
        line-height: 2;
        /* text-align: center; */
        letter-spacing: 1px;
    }
    
    .section-title {
        font-size: 30px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        display: inline-block;
        color: #353535;
        text-transform: uppercase;
    }
    
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1 {
        // color: #F2AA4CFF;
        color: #EC817A;
        position: absolute;
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 18px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        margin-left: 50px;
    }
    /* h2 {
position: absolute;
bottom: 210px;
font-size: 1.8Rem;
} */
    
    .section-video {
        position: relative;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        // color: white;
        // text-shadow: 0 0 5px #000;
    }
    /* Animation */
    
    .typewriter {
        width: auto;
        position: absolue;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid #2f2f2f;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation: typing 5s steps(30, end), blink .75s step-end infinite;
    }
    /* The typing effect */
    
    @keyframes typing {
        from {
            width: 0%
        }
        to {
            width: 100%
        }
    }
    /* The typewriter cursor effect */
    
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent
        }
        50% {
            border-color: orange;
        }
    }
    
    section.section-video>video {
        opacity: 90%;
    }
    /*# sourceMappingURL=style.css.map */
    
    .img-abt {
        height: 100px;
        width: 100px;
        transform: rotate(53deg);
        border-radius: 50%;
    }
    
    .p-content {
        line-height: 2;
        text-align: center;
        letter-spacing: 1px;
    }
    
    .underline-title {
        width: 50px;
        margin: auto;
        border-top: 2px solid $btn_color;
        margin-bottom: 30px;
    }
    
    .icon {
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .btn-landing {
        position: absolute;
        bottom: 50px;
        a.btn-subs {
            border: 2px solid #EC817A;
            border-color: #EC817A;
            color: #EC817A;
            padding: 5px 15px;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                background-color: #EC817A;
                color: white;
            }
        }
    }
    
    // No media query for `xs` since this is the default in Bootstrap
    // Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
        #navbarSupportedContent>ul.navbar-nav {
            background-color: none;
            text-align: right;
        }
        h1 {
            position: absolute;
            font-size: 3.5rem;
        }
        /* The typing effect */
        @keyframes typing {
            from {
                width: 0
            }
            to {
                width: 65%
            }
        }
        .parallax::after {
            height: 100vh;
        }
    }
    /* // Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
        .landing {
            position: absolute;
            bottom: 50px;
            a.btn-subs {
                border: 2px solid #EC817A;
                border-color: #EC817A;
                color: #EC817A;
                padding: 5px 15px;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    background-color: #EC817A;
                    color: white;
                }
            }
        }
        #navbarSupportedContent>ul.navbar-nav {
            background-color: none;
            text-align: right;
        }
        section.about-me,
        section.my-works {
            position: relative;
            height: 100vh;
            align-items: center;
            justify-content: center;
            color: black;
        }
    }
    /* // Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
        #navbarSupportedContent>ul.navbar-nav {
            background-color: none;
            text-align: right;
        }
    }
    /* // Extra large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        .section-video {
            /* position: relative; */
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            // color: white;
            // text-shadow: 0 0 5px #000;
            .landing {
                position: absolute;
                bottom: 50px;
                a.btn-subs {
                    border: 2px solid #EC817A;
                    border-color: #EC817A;
                    color: #EC817A;
                    padding: 5px 15px;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover {
                        background-color: #EC817A;
                        color: white;
                    }
                }
            }
        }
        section.about-me,
        section.my-works {
            position: relative;
            height: 100vh;
            align-items: center;
            justify-content: center;
            color: black;
        }
    }
    
    .btn {
        border: 2px solid #EC817A;
        border-color: btnBgColor;
        color: #EC817A;
        padding: 5px 15px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            background-color: #EC817A;
            color: white;
        }
    }