nav.navbar {
  opacity: 80%;
  z-index: 9999999;
}
nav.navbar > button.navbar-toggler {
  border: 2px solid;
}
nav.navbar #navbarSupportedContent > ul.navbar-nav {
  text-align: center;
}
nav.navbar #navbarSupportedContent > ul.navbar-nav > li {
  position: relative;
  background-repeat: no repeat;
  font-weight: bolder;
  font-size: 0.8rem 1.5em;
  font-family: "Sigmar One", cursive !important;
  letter-spacing: 1;
}
nav.navbar #navbarSupportedContent > ul.navbar-nav > li a {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.8em;
  display: block;
}
nav.navbar #navbarSupportedContent > ul.navbar-nav > li a:hover {
  background-color: #EC817A;
  color: white;
}

.navbar-default {
  transition: 500ms ease;
  background: transparent;
}

.navbar-default.scrolled {
  background: rgba(0, 0, 0, 0.9);
}
.navbar-default.scrolled li a {
  color: #ccc !important;
}

.section-video {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-video .greet {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 25px;
  font-family: inherit;
}
.section-video div.landing {
  position: absolute;
  bottom: 20px;
}
.section-video div.landing a.btn-subs {
  border: 2px solid #EC817A;
  border-color: #EC817A;
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
  padding: 9px;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}
.section-video div.landing a.btn-subs:hover {
  background-color: #EC817A;
  color: white;
}
.section-video div.landing a.btn-subs i {
  color: white;
}
.section-video div.landing a.btn-subs i:hover {
  color: #EC817A;
  background-color: #EC817A;
}

section.about-me,
section.my-works {
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.nav li::before {
  position: absolute;
  left: 18px;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: "";
  top: 0;
  background: #EC817A;
}

.tab-content {
  background: #333;
  padding: 30px 30px 30px 100px;
  border-radius: 5px;
  height: 500px;
}
.tab-content .tab-pane {
  transition: all 0.4s ease;
  width: 100%;
}
.tab-content .tab-pane .about-text h2.tab-title {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
.tab-content .tab-pane .about-text h2.tab-title:before {
  position: absolute;
  bottom: -1px;
  content: "";
  left: 0%;
  width: 70%;
  height: 2px;
  border-radius: 100%;
  background: #EC817A;
}
.tab-content .tab-pane .about-text div.content p {
  margin-bottom: 20px;
  font-weight: 300;
  color: #eee;
}
.tab-content .tab-pane .skill {
  margin-top: 15px;
  margin-left: 15px;
}
.tab-content .tab-pane .skill .skill-info {
  overflow: hidden;
}
.tab-content .tab-pane .skill .skill-info h4 {
  float: left;
  font-size: 14px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  right: 50px;
}
.tab-content .tab-pane .skill .progress {
  height: 8px;
  border-radius: 0px;
  box-shadow: none;
  overflow: visible;
}
.tab-content .tab-pane .skill .progress .progress-bar {
  position: relative;
  background: #EC817A;
  overflow: visible;
}
.tab-content .tab-pane .skill .progress .progress-bar span {
  font-size: 16px;
  right: 0;
  color: #fff;
  position: absolute;
  top: -17px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 100%;
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  background: #EC817A;
}

.tabs-main {
  position: absolute;
  top: 100px;
  z-index: 3;
  border-radius: 10px;
  margin-top: -45px;
}
.tabs-main .nav {
  position: absolute;
  top: 34px;
  left: 30px;
  display: block;
  list-style: none;
}
.tabs-main .nav li {
  float: none;
  margin: 0;
  padding-bottom: 50px;
  position: relative;
}
.tabs-main .nav li:before {
  position: absolute;
  left: 18px;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: "";
  top: 0;
}
.tabs-main .nav li:hover .tooltips {
  opacity: 1;
  visibility: visible;
}
.tabs-main .nav li .tooltips {
  position: absolute;
  width: 86px;
  top: -30px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 12px;
  text-transform: uppercase;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  background: #EC817A;
  margin-left: 10px;
}
.tabs-main .nav li a {
  border: 0px;
  border-radius: 100%;
  margin: 0;
  width: 40px;
  background: #fff;
  color: #353535;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  display: block;
  position: relative;
}
.tabs-main .nav li a:hover {
  color: #fff;
  background: #EC817A;
}
.tabs-main .nav li .nav-link.active {
  background: #EC817A;
}

.social {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
.social ul li {
  display: inline-block;
  margin-right: 5px;
}
.social ul li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  color: #353535;
  display: block;
  border-radius: 100%;
  text-align: center;
}
.social ul li a:hover {
  color: #fff;
  background: #EC817A;
}

.nav-tabs .timeline-inner {
  position: relative;
  padding: 20px 0;
}

img.img-abt {
  transition: transform 0.2s;
  margin: 0 auto;
}
img.img-abt:hover {
  opacity: 0.6;
  transition: 0.3s;
}

section#my-works {
  background-color: #f5f5f5;
}
section#my-works .img-container {
  position: relative;
  margin: 50px;
}
section#my-works .image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
section#my-works .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EC817A;
  opacity: 65%;
  overflow: hidden;
  width: 50%;
  height: 100%;
  transition: 0.5s ease;
  text-align: center;
}
section#my-works .overlay .overlay-title {
  font-size: 1rem;
}
section#my-works .overlay .img-overlay {
  font-size: 9px;
}
section#my-works .overlay .overlay-btn {
  width: 80px;
  height: 80px;
  display: inline-block;
  font-weight: 400;
  color: #F2784B;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
section#my-works .img-container:hover .overlay {
  width: 100%;
}
section#my-works .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* ==========================
    Contact Me
==========================*/
#contact.section {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#contact .form {
  margin-top: 30px;
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  height: 355px;
}
#contact .form-group {
  position: relative;
  display: block;
  margin: 0 0 25px;
}
#contact .form-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
}
#contact .contact {
  margin-top: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: 355px;
}
#contact .contact .address {
  position: relative;
  margin-bottom: 34px;
}
#contact .contact .address i {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  top: 50%;
  margin-top: -20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EC817A;
}
#contact .contact .address i .title {
  margin-left: 60px;
}
#contact .contact .address i:hover {
  color: #fff;
  border-color: transparent;
}
#contact .contact .address p {
  color: #555;
  margin-left: 50px;
}

.message {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  resize: none;
  height: 120px;
}

button i.fas {
  color: #EC817A;
}
button i.fas:hover {
  color: #fff;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
  * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
  * then scale it back up to fill the viewport.
  * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: white;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url("../images/background.jpeg");
  background-size: cover;
}

.bg2::after {
  background-image: url("../images/student-849821_1920.jpg");
  background-size: cover;
}

.bg3::after {
  background-image: url("../images/2020-02-02.jpeg");
  background-size: cover;
  filter: grayscale(1);
}

.bg4::after {
  background-image: url("../images/notebook-1280538_1280.jpg");
  background-size: cover;
  background-position-x: right;
}

.bg5::after {
  background-image: url("../images/purse-1478852_1280.jpg");
  background-size: cover;
  background-position-x: right;
}

.bg6::after {
  background-image: url("../images/pink.jpg");
  background-size: cover;
  background-position: center;
}

/* Footer */
#footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer .page-footer-copy {
  background-color: #1E282D;
  color: white;
}
#footer .page-footer-copy .gotop {
  width: 70px;
  height: 50px;
  font-size: 25px;
}
#footer .page-footer-copy .img-lovely {
  height: 50px;
  width: auto;
}
#footer a.go-top {
  border: 0px;
  border-radius: 100%;
  margin: 0;
  width: 40px;
  background: #fff;
  color: #353535;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  display: block;
  position: relative;
  bottom: 20px;
  margin: auto;
}
#footer a.go-top:hover {
  color: #fff;
  background: #EC817A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  /* font-style: inherit;
  font-variant: normal;
  font-weight: lighter; */
  /* line-height: 1.2; */
  line-height: 2;
  /* text-align: center; */
  letter-spacing: 1px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  color: #353535;
  text-transform: uppercase;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #EC817A;
  position: absolute;
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-left: 50px;
}

/* h2 {
position: absolute;
bottom: 210px;
font-size: 1.8Rem;
} */
.section-video {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation */
.typewriter {
  width: auto;
  position: absolue;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #2f2f2f;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 5s steps(30, end), blink 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
section.section-video > video {
  opacity: 90%;
}

/*# sourceMappingURL=style.css.map */
.img-abt {
  height: 100px;
  width: 100px;
  transform: rotate(53deg);
  border-radius: 50%;
}

.p-content {
  line-height: 2;
  text-align: center;
  letter-spacing: 1px;
}

.underline-title {
  width: 50px;
  margin: auto;
  border-top: 2px solid #F2784B;
  margin-bottom: 30px;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.btn-landing {
  position: absolute;
  bottom: 50px;
}
.btn-landing a.btn-subs {
  border: 2px solid #EC817A;
  border-color: #EC817A;
  color: #EC817A;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
}
.btn-landing a.btn-subs:hover {
  background-color: #EC817A;
  color: white;
}

@media (min-width: 576px) {
  #navbarSupportedContent > ul.navbar-nav {
    background-color: none;
    text-align: right;
  }

  h1 {
    position: absolute;
    font-size: 3.5rem;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }
  .parallax::after {
    height: 100vh;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .landing {
    position: absolute;
    bottom: 50px;
  }
  .landing a.btn-subs {
    border: 2px solid #EC817A;
    border-color: #EC817A;
    color: #EC817A;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  .landing a.btn-subs:hover {
    background-color: #EC817A;
    color: white;
  }

  #navbarSupportedContent > ul.navbar-nav {
    background-color: none;
    text-align: right;
  }

  section.about-me,
section.my-works {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #navbarSupportedContent > ul.navbar-nav {
    background-color: none;
    text-align: right;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section-video {
    /* position: relative; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-video .landing {
    position: absolute;
    bottom: 50px;
  }
  .section-video .landing a.btn-subs {
    border: 2px solid #EC817A;
    border-color: #EC817A;
    color: #EC817A;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  .section-video .landing a.btn-subs:hover {
    background-color: #EC817A;
    color: white;
  }

  section.about-me,
section.my-works {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
  }
}
.btn {
  border: 2px solid #EC817A;
  border-color: btnBgColor;
  color: #EC817A;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover {
  background-color: #EC817A;
  color: white;
}

/*# sourceMappingURL=style.css.map */
